/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.php_cs.cache
.idea
/public/modules
/Modules/Core
/Modules/Dashboard
/Modules/Media
/Modules/Menu
/Modules/Page
/Modules/Setting
/Modules/Tag
/Modules/Translation
/Modules/User
/Modules/Workshop